---
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

This is a fork of [Chaotic-Logic/terraform-provider-discord](https://github.com/Chaotic-Logic/terraform-provider-discord).

The Discord provider is used to interact with the Discord API. It requires proper credentials before it can be used.

Use the navigation on the left to read more about the resources and data sources.

## Example Usage

{{tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}